[submodule "utils/VIT-CPU"]
	path = utils/VIT-CPU
	url = https://github.com/gepet/VIT-CPU.git
[submodule "utils/VIT-FPGA"]
	path = utils/VIT-FPGA
	url = https://github.com/LimpBunion22/VIT-FPGA.git
[submodule "utils/VIT-GPU"]
	path = utils/VIT-GPU
	url = https://github.com/gepet/VIT-GPU.git
